
footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 10vh;
  color: #c2c2c2;
  padding: 20px;

  @include desktop {
    justify-content: flex-start;
    margin-left: 5%;
  }
}
